.pageHead{font-size: 30pt; width: 100%; margin-bottom: 5px;  padding: 10px; 

	min-width: 1800px;
	background-color: none;
	margin-bottom: 1px;
	background-image: url('/resources/img/lipid.jpg');
}
.pageHead img{
 display: block;
    margin-left: auto;
    margin-right: auto;
}
select{
	background-color: #000
}

.menu {font-style: inherit;   float:left ; background: white;
margin: 10px 0 10px 0; width: 100%; min-width:1800px;}
.menu ul li {
list-style-type: none;
display: inline; margin: 1px;
}
button.note{

}
button {
	font-size: 16pt; 
	border: none;
	outline: none;
	color: rgb(67, 118, 162);
	 
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }
  

.menu li a {
display: block;
text-decoration: none;

padding: 3px 10px;
float: left;
color: rgb(67, 118, 162);
font-size: 16pt;
margin-right: 2px;

}.menu li a:hover {

	opacity: 0.7;
border-bottom: 2px solid rgb(216, 92, 20);
}
.socialMedia {float: right; margin-right: 150px;}
.socialMedia  a {
display: inline-block;
text-decoration: none;
border-right: 2px solid white;
padding: 3px 10px;

}
.socialMedia  a:hover {
	opacity: 0.5;

}
.main_home_content{
	height: 900px;
	margin-bottom: 5px;

	float: left;
	width: 100%;
	min-width: 1705px;
}

.container {
margin: 1px;
width: 100%;
min-width: 1700px;

}
#section {
clear: left;
float: left;
width: 1200px;
padding: 20px 0;
margin: 0 0px 5px 40px;


font-size: 19pt; min-width: 900px;
width: 80%;
height: 600px;
}
#section img {float: left;
margin: 10px 50px 0px 0px; box-shadow: black 10px 5px 15px;}
#section p {overflow: auto; width: 620px; float: left; clear: right; height: 580px;
color: #000;}
#next  {float: left;
margin:0 0 0 0px;
clear: left;

color: red;
width: 100%;
width: 1000px;
}
#download {width: 200px;  float: left; margin: 300px 0px 0 0px;}
#download input {margin-top: 0px; border-radius: 10px; font-size: 20pt; padding: 20px; padding-right: 50px; font-family: sans-serif;} 

#next  {
 margin: 0px; width:1950px;
}
#next ul li {
list-style-type: none;
display: inline-block;
box-sizing: border-box;
}
#next li a {
display: block;
text-decoration: none;
border: none;
padding: 0px 0px;
float: left;
color: #000000;
font-size: 15pt;
margin-right: 2px;
}

#next li img:hover {


box-shadow: black 10px 5px 15px;
}
#next li figcaption:hover {
	border-bottom: 2px solid rgb(216, 92, 20);

}
#home_footer {
	clear: left;
clear: top;
width: 100%;
min-width: 1700px;
text-align: center;
color: rgb(138, 195, 241);
padding: 20px;
clear: right;
float: left;
font-size: 30pt;
margin-top: 20px;
}
footer {
clear: left;
clear: top;
width: 100%;
min-width: 1700px;

text-align: center;
color: white;
padding: 20px;
clear: right;
float: left;
font-size: 30pt;}
#applinks{margin:  0px 0px 
	100px 0px;}
#applinks a{text-decoration: none;
	color: lightsteelblue;
font-size: 24pt;
margin:  300px 0px 0 0px;}

#lone{
clear: left;
clear: top;
width: 100%;

background: linear-gradient(to right, white, lightsteelblue);
text-align: center;
color: white;
padding: 20px;
clear: right;
float: left;
font-size: 30pt;
margin-top: 20px;}
#section0{clear: left;
float: left;
width: 60%;
padding: 20px 0;
margin: 0 0px 5px 40px;


font-size: 15pt; }
fieldset{

	width:450px;
	margin-left: 300px;
	margin-top: 50px;
border: none;
	height: 350px;
	font-size:  15pt;
	position: fixed;
	
	font-family: "Tahoma";
	color: ##ffffff;
	background-color: white;
}
#g{
	margin-left: 100px;
	
}#opo{float: right;
	
	
}
span{
	font-size: 15pt;
}

input{
	padding: 5px;
	
	background-color: white;
	width: 400px;
font-size: 15pt;

color: #000;

margin-top:10px;
	
margin-bottom: 10px;
 
}
input.u {
	width: 90px;
	background-color: black;
	color: white;
	height: 40px;
	font-size: 10pt;
	display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}


#op input{
	padding: 5px;
}
input:focus{
	opacity: 0.9;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 5px;
}
#sectionk {
	clear: left;
	float: left;
	width: 1200px;
	padding: 20px 0;
	margin: 0 0px 5px 40px;
	font-family: "Comic Sans MS";
	
	font-size: 19pt; min-width: 900px;
	width: 80%;
	height: 600px;
	}
	#sectionk img {float: left;
	margin: 10px 50px 0px 0px;}
	#section p {overflow: auto; width: 620px; float: left; clear: right; height: 580px;
	color: #000;}
	#next  {float: left;
	margin:0 0 0 0px;
	clear: left;
	
	color: red;
	width: 100%;
	width: 1000px;
	}
